html {
  background-image: url("plant-background.jpg");
  background-size: auto;
  background-attachment: fixed;
}

h1 {
  color: #FFFFFF; 
  font-family: 'Fredoka One', cursive;
}

h2 {
  color: #E31068;
  font-family: 'Tangerine', serif;
}



@media screen and (max-width: 800px) {
  h1 {
    font-size: 500%;
    text-align: center;
  }
  h2 {
    font-size: 700%;
    text-align: center;
  }
  }